@font-face {
  font-family: "iconReact"; /* Project id 3167675 */
  src: url('iconfont.woff2?t=1675933468954') format('woff2'),
       url('iconfont.woff?t=1675933468954') format('woff'),
       url('iconfont.ttf?t=1675933468954') format('truetype'),
       url('iconfont.svg?t=1675933468954#iconReact') format('svg');
}

.iconReact {
  font-family: "iconReact" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconReactxiangzuojiantou:before {
  content: "\e660";
}

.iconReactpinglun:before {
  content: "\e601";
}

.iconReactgengduo:before {
  content: "\e602";
}

.iconReactshipin:before {
  content: "\e603";
}

.iconReactdianzan:before {
  content: "\e604";
}

.iconReactfenxiang:before {
  content: "\e605";
}

.iconReactdianzan2:before {
  content: "\e606";
}

.iconReactguanbi:before {
  content: "\e607";
}

.iconReactlishi:before {
  content: "\e608";
}

.iconReactshouye:before {
  content: "\e609";
}

.iconReactshanchu:before {
  content: "\e60a";
}

.iconReactshoucang:before {
  content: "\e60b";
}

.iconReactshouji:before {
  content: "\e60c";
}

.iconReactsousuo:before {
  content: "\e60d";
}

.iconReactyoujiantou:before {
  content: "\e60e";
}

.iconReactwenda:before {
  content: "\e60f";
}

.iconReactwode:before {
  content: "\e610";
}

.iconReactyanzhengma:before {
  content: "\e611";
}

.iconReactwuwangluo:before {
  content: "\e612";
}

.iconReactzuojiantou:before {
  content: "\e613";
}

.iconReactzuopin:before {
  content: "\e614";
}

.iconReactyuedu:before {
  content: "\e615";
}

